/* Big Member Cards */
.root-SR8cQa {
    border-radius: 2px;
}
.header-QKLPzZ {
    padding: 20px 20px 4px;
}
.activity-1ythUs {
    padding: 0 20px 10px;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background-image: linear-gradient(30deg, transparent 5%, rgba(0,0,0,0.25)50%, rgba(0,0,0,0.5))
}
.headerFill-adLl4x {/*
    background-image: linear-gradient( to bottom, transparent, hsla(0, 3%, 8%, 0.1) 80%, #101010 100%); */
    background-color: transparent;
}
.connectedAccount-36nQx7 {
    border-radius: 0;
}
.connectedAccount-36nQx7:hover {
    transition: 350ms cubic-bezier(0.2, 0.35, 0.98, 0.73);
}
.theme-dark .connectedAccount-36nQx7 {
    border-color: hsla(0, 10%, 88%, 0.4);
}
.theme-dark .connectedAccount-36nQx7:hover {
    border-color: hsla(0, 10%, 88%, 0.8);
}
.xboxAssets-aGhVw8 {
    -ms-flex: 0;
    -webkit-box-flex: 0;
    flex: 0;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: transparent;
    border: 1px solid hsla(153, 46%, 49%, 0.55);
    color: #43b581;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: unset; 
    opacity: 0.95;
}
